.child-slider-div{
    width: 25%;
    margin: 0px 10px;
    display: none;
}


.child-slider-div img {
    
    width: 100%;
}

.main-slider-div{
    display: flex;
    justify-content: center;
    align-items: center;
    
}